:root {
  --bg-page: #FFF6F1;
  --primary: #E55F5F;
  --dark-chocolate: #450920;
  --medium-ruby: #A53860;
  --breakpoint: width > 768px;
}


html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


html, body {
  background: var(--bg-page);
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  @media (width > 768px) {
    font-size: 15px;
  }
  @media (width > 992px) {
    font-size: 16px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
  @media (width > 480px) {
    width: 480px;
  }
  @media (width > 768px) {
    width: 768px;
  }
  @media (width > 992px) {
    width: 992px;
  }
  @media (width > 1200px) {
    max-width: 1200px;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: var(--primary);
  transition: ease .35s;

  &:hover {
    opacity: .5;
  }
}

.icon {
  width: 30px;
  @media (width > 768px) {
    width: 35px;
  }
  @media (width > 992px) {
    width: 40px;
  }
}